# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
/worrywortd
/wortuser

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
vendor/

# environment variable stuff
.envrc
**/*.code-workspace
**/codeship.aes
**/codeship.env
